body {
  background-color: lightgrey;
  padding: 5vw;
  margin: 0;
  font-family: helvetica, sans-serif;
}

.container {
  display: grid;
  grid-template-columns: repeat(6, 14.16vw);
  grid-auto-rows: 14.16vw;
  grid-gap: 1vw;
}

.container > div {
  background-color: white;
  position: relative;
  position: relative;
}

.tall {
  grid-row: span 2;
}

.wide {
  grid-column: span 2;
}

.img {
  max-width: 100%;
  min-width: 100%;
}

#box1 h6{
  font-size: 3.5vw;
}


.box2 {
  background-image: url("assets/a.png");
  background-size: cover;
}

.box3 {
  background-image: url("assets/curly_bracet.png");
  background-size: cover;
  background-position: 65%, 73%;
}

.box4 {
  background-image: url("assets/and.png");
  background-size: cover;
}

#box9 h6 {
  font-size: 3.1vw;
  line-height: 4vw;
}

#box10 h6{
  font-size: 3.1vw;
  line-height: 4vw;
}

p {
  font-size: 1vw;
  margin:0;
  padding: 0;
  width: 100%;
}

h6 {
  font-size: 1.5vw;
  margin:0;
  padding: 0;
  width: 100%;
}

.text-margin {
  display: flex;
  display: row;
  height: 12.16vw;
  padding: 1vw;
  flex-wrap: wrap;
  align-content: space-between;
}

.black {
  background-color: black;
  color: grey;
}

.grey-text {
  color: grey;
}
